.box-text {
    margin-top: 35px;

    &__heading {
        margin-bottom: 15px;
    }

    &__description {
        font-size: 0.72rem;
        font-weight: 300;
        margin-bottom: 15px;
    }

    &__price {
        font-size: 0.72rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 1024px) {
    .box-text {
        margin-top: 15px;

        &__heading {
            font-weight: 400;
        }

        &__description {
            font-size: 0.6rem;
            margin-bottom: 17px;
        }

        &__price {
            font-size: 0.6rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .box-text {
        max-width: 348px;
        margin-top: 0;
        align-self: center;

        &__heading {
            margin-bottom: 20px;
        }

        &__description {
            font-size: 0.8rem;
            margin-bottom: 20px;
        }

        &__price {
            font-size: 0.8rem;
        }
    }
}