.button--white {
    @include button-styles ($secondary-color, $secondary-color);
}

.button--black {
    @include button-styles (black, black);
}

.button:hover {
    border: none;
    color: $secondary-color;
    background: rgba(255, 166, 13, 1);
}

@media screen and (max-width: 1024px) {
    .button {
        width: 248px;
        height: 48px;
        line-height: 48px;
        font-size: 0.68rem;
    }
}




#block-2 {
    display: none;
}
.active {
    background-color: #09090B !important;
    color: #FFFFFF !important;
}