.gallery {
    padding: 100px 12px 0 12px;
}


@media screen and (max-width: 1440px) {
    .gallery {
        padding: 100px 0 0 0;
    }
}

@media screen and (max-width: 1024px) {
    .gallery {
        padding: 80px 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        padding: 70px 18px 0;
    }
}