.menu {
    font-size: 0.88rem;

    &__item:not(:last-child) {
        margin-right: 25px;
    }

    &__item:not(:last-child):after {
        display: inline-block;
        content: "";
        width: 1.5px;
        height: 16px;
        margin-left: 25px;
        vertical-align: middle;
        background-color: $secondary-color;
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        font-size: 0.72rem;
        font-weight: 400;

        &__item:not(:last-child):after {
            height: 13px;
        }
    }
}

@media screen and (max-width: 450px) {
    .menu {

        &__item {
            display: block;
            text-align: center;
        }

        &__item:not(:last-child) {
            margin-right: 0;
        }

        &__item:not(:last-child):after {
            display: block;
            content: "";
            width: 15px;
            height: 1.5px;
            margin: 10px auto 10px;
        }
    }
}